/* CSS Document */
div.cookielaw-banner {
    position: fixed;
    left: 0;
    width: 100%;
    color: @ini_text_alt;
    background-color: @ini_background_alt;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0px 0px 10px @ini_text_alt;
}

div.cookielaw-top {
    top: 0;
}

div.cookielaw-bottom {
    bottom: 0;
}
